label[for=camera]
{
    animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1) 10s infinite
}

    @keyframes pulse
    {
        from { box-shadow: 0 0 0 0 var(--primary-color); }
        to { box-shadow: 0 0 0 45px var(--primary-color-transparent); }
    }

section
{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--main-content-height);
    z-index: 2;
    background: var(--main-color);
    overflow: hidden;
}

    section.active
    {
        display: block;
    }

    section h2
    {
        position: absolute;
        top: 33%;
        width: 100%;
        font-size: 1.25rem;
        font-weight: normal;
        color: var(--main-color);
        text-align: center;
        animation: disappear 1s ease-out 10s;
        animation-fill-mode: forwards;
    }

        @keyframes disappear
        {
            to { opacity: 0; }
        }

video,
article
{
    width: 100%;
    height: 100%;
    background: var(--camera-background-color);
}

    article
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.camera form
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

canvas
{
    display: none;
}

label#switchSource
{
    display: none;
}

label#takeStillPicture,
label#sendImage {
    animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1) 10s infinite;
}

label[for].disabled,
label#retry.disabled,
label#switchSource.disabled
{
    cursor: auto;
    background-color: var(--disabled-color);
}
