/*
Content:
    top-level
    form + buttons
    results page
    alternate pages
*/

/* == top-level ==================================================================================================== */

:root
{
    /* https://coolors.co/f7f7f2-00cecb-06d6a0-ffc655-ff5e5b */
    --back-color-gradient-start: #00cecb;
    --back-color-gradient-end: #65def1;
    --body-color: #f7f7f2;
    --body-color-text: #08415c;
    --primary-color: #ffc655;
    --primary-color-text: #fff;
    --accent-color: #06d6a0;
    --alternate-color: #ff5e5b;
    --image-tinting: hsla(0, 0%, 0%, .5);
    --recyclable-status-color: #06d6a0;
    --not-recyclable-status-color: #ff5e5b;
}

*
{
    font-family: 'Lato', sans-serif;
}

html
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--back-color-gradient-start);
    background-image: linear-gradient(135deg,  var(--back-color-gradient-end) 0%, var(--back-color-gradient-start) 100%);
}

body
{
    display: flex;
    flex-direction: column;
    max-width: 28em;
    height: 100%;
    margin: 0 auto;
    color: var(--body-color-text);
    background-color: var(--body-color);
}

    body > div
    {
        padding: 0 4rem;
        flex-grow: 1;
    }

h1
{
    margin: 0;
    padding: 1.5em 0;
    text-align: center;
    color: var(--accent-color);
}

    h1 a
    {
        text-decoration: none;
        color: inherit;
    }

h2
{
    padding: 0 4rem;
}

p:first-letter
{
    text-transform: uppercase;
}

footer
{
    padding-right: 1em;
    text-align: right;
    order: -1;
}

    footer a
    {
        font-size: 1.5em;
        display: inline-block;
        margin: .5em 0 0 .2em;
        text-decoration: none;
        color: inherit;
    }

/* == form + buttons =============================================================================================== */

form
{
    height: 25vh;
}

input[type='file']
{
    position: fixed;
    left: -100vw;
}

input[type='submit']
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

label[for]
{
    font-size: 30px;
    font-weight: bold;
    line-height: 2.5em;
    display: block;
    width: 2.5em;
    height: 2.5em;
    margin: auto;
    cursor: pointer;
    text-align: center;
    color: var(--primary-color-text);
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0 0 .2em silver;
}

/* == results page ================================================================================================= */

.results
{
    /* --image-url variable is defined in HTML */
    color: var(--body-color);
    background-image: linear-gradient(var(--image-tinting), var(--image-tinting)), var(--image-url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

    .results > *
    {
        color: var(--body-color);
    }

    .results > div,
    .results > form
    {
        color: var(--body-color-text);
        background-color: var(--body-color);
    }

    .results p
    {
        margin: 2rem 0 2rem 0;
    }

.visualClass em
{
    font-style: normal;
    color: var(--back-color-gradient-start);
}

.recyclableStatus
{
    font-size: 1.5em;
    color: var(--not-recyclable-status-color);
}

    .recyclableStatus.recyclable
    {
        color: var(--recyclable-status-color);
    }

/* == alternate pages ============================================================================================== */

.alternate label[for]
{
    background-color: var(--alternate-color);
}
