/*
Content:
    top-level
    form + buttons
    camera page
    results page
    alternate pages
    responsive + media queries
*/

/* == top-level ==================================================================================================== */

:root
{
    /* https://coolors.co/f7f7f2-00cecb-06d6a0-ffc655-ff5e5b */
    --gradient-color-start: #00cecb;
    --gradient-color-end: #65def1;
    --main-color: #f7f7f2;
    --main-color-text: #08415c;
    --primary-color: hsla(40, 100%, 67%, 1);
    --primary-color-text: #ffffff;
    --primary-color-transparent: hsla(40, 100%, 67%, 0);
    --accent-1-color: #06d6a0;
    --accent-2-color: #ff5e5b;
    --disabled-color: #999;
    --camera-background-color: #000;

    --image-tinting: hsla(0, 0%, 0%, .3);

    --recyclable-status-color: var(--accent-1-color);
    --not-recyclable-status-color: var(--accent-2-color);
    --other-recyclable-status-color: var(--primary-color);
    --disclaimer-color: #B4B4B1;

    --space-4x: 4rem;
    --space-2x: 2rem;
    --space-1x: 1rem;

    --main-content-height: calc(100% - 8rem);
}

*
{
    font-family: 'Lato', sans-serif;
}

html
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--gradient-color-start);
    background-image: linear-gradient(135deg, var(--gradient-color-end) 0%, var(--gradient-color-start) 100%);
}

body
{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
    color: var(--main-color-text);
    background-color: var(--main-color);
}

h1
{
    margin: 0;
    padding: var(--space-2x) 0 var(--space-2x) 0;
    text-align: center;
    color: var(--accent-1-color);
    font-size: 2rem;
}

    h1 a
    {
        text-decoration: none;
        color: inherit;
    }

h2
{
    margin-top: 0;
}

main
{
    padding: var(--space-2x) var(--space-4x) 0 var(--space-4x);
    overflow: hidden;
    flex-grow: 1;
}

p
{
    margin: 0 0 var(--space-2x) 0;
}

p:first-letter
{
    text-transform: uppercase;
}

nav
{
    text-align: right;
    order: -1;
    height: var(--space-2x);
    z-index: 2;
}

    nav a
    {
        font-size: 1.5em;
        display: inline-block;
        padding: var(--space-1x) var(--space-1x) 0 0;
        text-decoration: none;
        color: inherit;
    }

    nav.github a
    {
        padding: 0;
        position: absolute;
        right: 0px;
        top: 0px;
    }

pre
{
    display: none;
}

/* == form + buttons =============================================================================================== */

form
{
    padding-bottom: var(--space-4x);
}

input[type='file']
{
    position: fixed;
    left: -100vw;
}

input[type='submit']
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

label[for]
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    margin: auto;
    cursor: pointer;
    color: var(--primary-color-text);
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: 0 0 .2em silver;
}

/* == camera page ================================================================================================= */

label[for=camera]
{
    animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1) 10s infinite
}

    @keyframes pulse
    {
        from { box-shadow: 0 0 0 0 var(--primary-color); }
        to { box-shadow: 0 0 0 45px var(--primary-color-transparent); }
    }

.camera section
{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--main-content-height);
    z-index: 2;
    background: var(--main-color);
    overflow: hidden;
}

    .camera.advanced section.active
    {
        display: block;
    }

    .camera section h2
    {
        position: absolute;
        top: 33%;
        width: 100%;
        font-size: 1.25rem;
        font-weight: normal;
        color: var(--main-color);
        text-align: center;
        animation: disappear 1s ease-out 10s;
        animation-fill-mode: forwards;
    }

        @keyframes disappear
        {
            to { opacity: 0; }
        }

    .camera section video,
    .camera section article
    {
        width: 100%;
        height: 100%;
        background: var(--camera-background-color);
    }

    .camera section article
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .camera section form
    {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .camera section canvas
    {
        display: none;
    }

    .camera section label#retry
    {
        position:absolute;
        top: 1rem;
        left: calc(30% - 3rem);
        font-size: 20px;
        width: 3rem;
        height: 3rem;
        background-color: var(--disabled-color);
    }

    .camera section label#takeStillPicture,
    .camera section label#sendImage {
        animation: pulse 1.25s cubic-bezier(0.66, 0, 0, 1) 10s infinite;
    }

    .camera section label[for].disabled
    {
        cursor: auto;
        background-color: var(--disabled-color);
    }

/* == results page ================================================================================================= */

.results
{
    /* --image-url variable is defined in HTML */
    color: var(--main-color);
    background-image: linear-gradient(var(--image-tinting), var(--image-tinting)), var(--image-url);
    background-repeat: repeat-y;
    background-position: center 200%;
    background-size: cover;
}

    .results > *
    {
        color: var(--main-color);
    }

    .results > main,
    .results > form
    {
        color: var(--main-color-text);
        background-color: var(--main-color);
    }

.visualClass em
{
    font-style: normal;
    color: var(--gradient-color-start);
}

.recyclableStatus
{
    color: var(--other-recyclable-status-color);
    margin: 0 0 var(--space-2x) 0;
}

    .recyclableStatus.recyclable
    {
        color: var(--recyclable-status-color);
    }

    .recyclableStatus.unknown,
    .recyclableStatus.not-recyclable
    {
        color: var(--not-recyclable-status-color);
    }

    .recyclableStatus h3
    {
        font-size: 1.5em;
        font-weight: normal;
        margin: 0;
    }

    .recyclableStatus h3:first-letter 
    {
        text-transform: uppercase;
    }

    .results .recyclableStatus p
    {
        margin: 0;
    }

.disclaimer {
    color: var(--disclaimer-color);
    font-size: 90%;
}

    .disclaimer * {
        color: currentColor;
    }

/* == alternate pages ============================================================================================== */

.accent-2 label[for]
{
    background-color: var(--accent-2-color);
}

/* == responsive + media queries =================================================================================== */

@media screen and (max-width: 450px) {
    :root {
        --space-4x: 3rem;
        --space-2x: 1.5rem;
        --space-1x: 1rem;
        --main-content-height: calc(100% - 7rem + 2px);
    }

    html
    {
        background-image: linear-gradient(135deg,  var(--gradient-color-end) 0%, var(--gradient-color-start) 50%);
    }

    body, body > *
    {
        color: var(--main-color);
        background-color: transparent;
    }

    body > main,
    body > form
    {
        color: var(--main-color-text);
        background-color: var(--main-color);
    }
}

@media screen and (max-width: 320px) {
    :root {
        --space-4x: 2rem;
        --space-2x: 1rem;
        --space-1x: .5rem;
        --main-content-height: calc(100% - 6rem + 10px);
    }
}
