* {
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #31475B;
}

body {
    max-width: 20em;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 4em;
    background-color: #F0F1F2;
    color: #2c3e50;
}

h1 {
    text-align: center;
    color: #F1543F;
}

.invert h1 {
    color: #FFC655;
}

body > div {
    flex-grow: 1;
}

form {
    height: 33vh;
}

input[type='file'] {
    position: fixed;
    left: -100vw;
}

input[type='submit'] {
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

label[for] {
    display:block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    text-align:center;
    background-color: #FFC655;
    color: #ffffff;
    box-shadow: 0 0 .2em silver;
    font-size: 30px;
    font-weight:bold;
    margin: auto;
    cursor: pointer;
}

.invert label[for] {
    background-color: #F1543F;
}
