* {
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #31475B;
}

body {
    max-width: 20em;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 4em;
    background-color: #F0F1F2;
    color: #2c3e50;
}

h1 {
    text-align: center;
    color: #F1543F;
    margin: 1.5em 0;
}

.invert h1 {
    color: #FFC655;
}

body > div {
    flex-grow: 1;
}

form {
    height: 33vh;
}

input[type='file'] {
    position: fixed;
    left: -100vw;
}

input[type='submit'] {
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
}

label[for], footer a {
    border-radius: 50%;
    text-align:center;
    box-shadow: 0 0 .2em silver;
    font-weight:bold;
    cursor: pointer;
}

label[for] {
    display:block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    background-color: #FFC655;
    color: #ffffff;
    font-size: 30px;
    margin: auto;
}

.invert label[for] {
    background-color: #F1543F;
}

footer {
    order: -1;
    text-align: right;
    margin-right: -3em;
}

footer a {
    display:inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0.5em 0 0 0.2em;
    text-decoration:none;
    background-color: #ffffff;
    color:#31475B;
}
