<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <title th:text="#{fragments.layout.appTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" href="/css/recikligi.css"/>
    <link rel="stylesheet" href="/css/loader.css"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <script src="/js/recikligi.js"></script>
</head>
<body>
<h1 th:fragment="h1Fragment">
    <a th:href="@{/}" th:text="#{fragments.layout.title}" th:title="#{fragments.layout.nav.home.tooltip}"></a></h1>
<form th:fragment="homeButtonFragment">
    <label for="home" th:title="#{fragments.layout.home.button.tooltip}">&#8634;</label>
    <input type="submit" id="home"/>
</form>
<nav th:fragment="navFragment">
    <a th:href="@{/about}" th:title="#{fragments.layout.nav.about.tooltip}">&#x1F4AC;</a>
</nav>
<div th:fragment="loader">
    <div class="dot dot1"></div>
    <div class="dot dot2"></div>
    <div class="dot dot3"></div>
</div>
</body>
</html>
