<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headerFragment"></head>
<body>
<h1 th:include="fragments/layout :: h1Fragment"></h1>
<section>
    <h2 th:text="#{camera.onboarding.title}"></h2>
</section>
<form method="post" enctype="multipart/form-data">
    <label for="camera" th:title="#{camera.button.tooltip}">&#128247;</label>
    <input name="image" id="camera" type="file" accept="image/*;capture=camera" required="required"/>
    <input type="submit"/>
</form>
<nav th:include="fragments/layout :: navFragment"></nav>
<div th:replace="fragments/layout :: loader"></div>
</body>
</html>
