<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headerFragment"></head>
<body class="invert">
<h1 th:include="fragments/layout :: h1Fragment"></h1>
<h2>Oups...</h2>
<div>
    <p>Une erreur s'est glissée dans cette page.</p>
    <p><span th:text="${status}"></span> : <span th:text="${error}"></span></p>
    <p>Nous nous excusons pour la gêne occasionnée.</p>
</div>
<form action="/">
    <label for="home">&#8634;</label>
    <input type="submit" id="home"/>
</form>
</body>
</html>