<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headerFragment"></head>
<body class="accent-2">
<h1 th:fragment="h1Fragment">
    <a th:href="@{/}" th:text="#{error.title}" th:title="#{fragments.layout.nav.home.tooltip}"></a></h1>
<section>
    <p th:text="#{error.header}"></p>
    <p><span th:text="${status}"></span> : <span th:text="${error}"></span></p>
    <p th:text="#{error.apologies}"></p>
</section>
<form th:action="@{/}" th:include="fragments/layout :: homeButtonFragment"></form>
<nav th:include="fragments/layout :: navFragment"></nav>

<div th:utext="'&lt;!--'" th:remove="tag"></div>
<pre th:text="${stacktrace}" th:remove="tag"></pre>
<div th:utext="'--&gt;'" th:remove="tag"></div>
</body>
</html>
