<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${appTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" href="/css/recikligi.css"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>
</head>
<body class="invert">
<h1 th:text="${appTitle}"></h1>
<h2>Oups...</h2>
<div>
    <p>Une erreur s'est glissée dans cette page.</p>
    <p><span th:text="${status}"></span> : <span th:text="${error}"></span></p>
    <p>Nous nous excusons pour la gêne occasionnée.</p>
</div>
<form action="/">
    <label for="home">&#8634;</label>
    <input type="submit" id="home"/>
</form>
</body>
</html>