<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headerFragment"></head>
<body class="results" th:style="'--image-url:url(/image/' + ${feedback.imageId} + ');'">
<h1 th:include="fragments/layout :: h1Fragment"></h1>

<main cf-context>
</main>
<form th:replace="fragments/layout :: homeButtonFragment"></form>
<nav th:include="fragments/layout :: navFragment"></nav>

<form id="feedback" action="mailto:mail%40ludeo.net" cf-form method="post">
    <fieldset>
        <label for="user">What is your name?</label>
        <input id="user" name="user" required="required" cf-questions="Hi there!&&I am the feedback form. What is your name?" />
    </fieldset>

    <fieldset>
        <label for="rating">How would you rate the application ?</label>
        <label>
            <input type="radio" id="rating" name="rating" cf-questions="Nice meeting you, {user}&&How would you rate the application ?" value="0" />
            Poor
        </label>
        <label>
            <input type="radio" id="rating-1" name="rating" value="1" />
            Average
        </label>
        <label>
            <input type="radio" id="rating-2" name="rating" value="2" />
            Good
        </label>
    </fieldset>

    <fieldset>
        <label for="suggestedName" th:text="'The picture you sent was analyzed as ' + ${feedback.name} + '&&How would you name it?'"></label>
        <input id="suggestedName" name="suggestedName" />
    </fieldset>

    <fieldset>
        <label for="suggestedStatus">Would you consider this object as recyclable?</label>
        <label>
            <input type="radio" id="suggestedStatus" name="suggestedStatus" cf-questions="Would you consider this {suggestedName} as recyclable?" value="recyclable" />
            Yes
        </label>
        <label>
            <input type="radio" id="suggestedStatus-1" name="suggestedStatus" value="not-recyclable" />
            No
        </label>
    </fieldset>

    <fieldset>
        <label for="comment">I will prepare an e-mail with your feedback attached for sending. Do you have any further comments ?</label>
        <input id="comment" name="comment" />
    </fieldset>

    <input type="submit" />

    <input type="hidden" id="imageId" name="imageId" th:value="${feedback.imageId}" />
    <input type="hidden" id="success" name="success" th:value="${feedback.success}" />
    <input type="hidden" id="name" name="name" th:value="${feedback.name}" />
    <input type="hidden" id="score" name="score" th:value="${feedback.score}" />
    <input type="hidden" id="scoreLabel" name="scoreLabel" th:value="${feedback.scoreLabel}" />
    <input type="hidden" id="statusName" name="statusName" th:value="${feedback.statusName}" />
    <input type="hidden" id="statusText" name="statusText" th:value="${feedback.statusText}" />
    <input type="hidden" id="statusDescription" name="statusDescription" th:value="${feedback.statusDescription}" />
</form>

<script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script>
</body>
</html>
