<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headerFragment"></head>
<body class="results feedback" th:style="'--image-url:url(/image/' + ${feedback.imageId} + ');'">
<h1 th:include="fragments/layout :: h1Fragment"></h1>

<main cf-context>
</main>
<nav th:include="fragments/layout :: navFragment"></nav>

<form id="feedback" th:action="@{/user-feedback}" cf-form method="post">
    <fieldset>
        <label for="rating">Hi there! How would you rate the recyclette application?</label>
        <label>
            <input type="radio" id="rating" name="rating" value="poor" />
            Poor
        </label>
        <label>
            <input type="radio" id="rating-1" name="rating" value="average" />
            Average
        </label>
        <label>
            <input type="radio" id="rating-2" name="rating" value="good" />
            Cool
        </label>
    </fieldset>

    <fieldset>
        <label for="focus">How could the application be better?</label>
        <label>
            <input type="radio" id="focus" name="focus" value="accuracy" />
            Accuracy
        </label>
        <label>
            <input type="radio" id="focus-1" name="focus" value="design" />
            Design
        </label>
        <label>
            <input type="radio" id="focus-2" name="focus" value="speed" />
            Speed
        </label>
    </fieldset>

    <fieldset>
        <label for="suggestedName" th:if="${feedback.success}"
               th:text="'The picture you sent was analyzed as ' + ${feedback.name} + '&&How would you name it?'"></label>
        <label for="suggestedName" th:if="${!feedback.success}"
               th:text="'Sorry the picture you sent was not recognized :(&&How would you name it?'"></label>
        <input id="suggestedName" name="suggestedName" />
    </fieldset>

    <fieldset>
        <label for="suggestedStatus">Would you consider this object as recyclable?</label>
        <label>
            <input type="radio" id="suggestedStatus" name="suggestedStatus"
                   cf-questions="Would you consider this {suggestedName} as recyclable?" value="recyclable" />
            Yes
        </label>
        <label>
            <input type="radio" id="suggestedStatus-1" name="suggestedStatus" value="not-recyclable" />
            No
        </label>
    </fieldset>

    <fieldset>
        <label for="comment">Do you have any further comments?</label>
        <input id="comment" name="comment" />
    </fieldset>

    <fieldset>
        <label for="email">Can you provide an e-mail address, in case we want to discuss with you any further?</label>
        <input id="email" name="email"
               cf-questions="Can you provide an e-mail address, in case we want to discuss with you any further?&&This is optional." />
    </fieldset>

    <input type="submit" />

    <input type="hidden" id="imageId" name="imageId" th:value="${feedback.imageId}" />
    <input type="hidden" id="success" name="success" th:value="${feedback.success}" />
    <input type="hidden" id="name" name="name" th:value="${feedback.name}" />
    <input type="hidden" id="score" name="score" th:value="${feedback.score}" />
    <input type="hidden" id="statusName" name="statusName" th:value="${feedback.statusName}" />
</form>

<script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script>
<script>
    window.addEventListener('load', function() {
        var form = document.getElementById('feedback');
        if (form) form.style.display = 'none';
    });
</script>
</body>
</html>
